body{
    font-family: 'Plus Jakarta Sans',sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top:80px ;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-truck-plane{
    color:red;
    font-size: 2rem;
}
.nav-link{
    color: black;
}

.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-socials{
    width:100%;
    font-size:1.5rem;
    margin-right: 1rem;
}

.f-info-links{
    width: 100%;
}

.f-info{
    display: flex;
    height: 7rem;
    background-color: rgb(241, 249, 255);
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    text-align: center;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding:0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing_link{

text-decoration:none
}

/*card effect*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    
}
/* create new page*/
/* .add-btn{
    background-color: rgb(255, 67, 67) !important;
    border: none !important;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    color: rgb(124, 122, 122) !important;
} */
/* edit page*/
.edit-btn{
    background-color: rgb(255, 67, 67) !important;
    border: none !important;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    color: rgb(124, 122, 122) !important;
}

/*show page*/
.show-img{
    height: 30vh;
}

 #filters{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      }
      .filter{
        text-align: center;
        margin-right: 2.1rem;
        margin-top: 1rem;
        opacity: 0.7;
      }
      .filter:hover{
        opacity: 1;
        cursor: pointer;
      }
      .tax-info{
        display:none ;
      }
     .tax-toggle{
      border: 2px solid grey;
      border-radius: 1rem;
      height: 4rem;
      padding: 1.2rem;
      cursor: pointer;
     }
.filter a{
   text-decoration:none;
   color:black;
   
}
