<%layout("/layouts/boilerplate")%>
 <div class="row mt-3">
    <h1 class="col-6 offset-3">LOGIN FOR WANDERLUST</h1>
        <div class="col-8 offset-2">
            <form action="/login" method="post">
                 <div class="mb-3">
        <label for="username" class="form-lable">Username</label>
        <input type="text" name="username" id="useraname" placeholder="enter your useraname" class="form-control" required oninvalid="this.setCustomValidity('username is required ')" oninput="this.setCustomValidity('')">
        </div>
          
            <div class="mb-3">
        <label for="password" class="form-lable">password</label>
        <input type="text" name="password" id="password" placeholder="enter your password" class="form-control" required oninvalid="this.setCustomValidity('username is required ')" oninput="this.setCustomValidity('')">
        </div>
        <button class="btn btn-danger mt-3">Login</button>
            </form>
    </div>
    </div>